:root{
    --default-font-family: 'Open Sans', sans-serif;
    --nav-primary-color: white;
}

.landing{
   background: url(../imgs/background.jpg);
   height: 130vh;
   padding-top: 45px;
   position: fixed;
}

h1{
    text-align: center;
    padding-top: 70px;
}

h2{
    text-align: center;
    padding: 25px;
}

h3{
    text-align: center;
}

p{
    text-align:center;
    font-family: var(--default-font-family);
    color: var(--nav-primary-color);
    font-size: 15px;
    padding-top: 10px;

}

p1{
    text-align: center;
    font-family: var(--default-font-family);
    color: var(--nav-primary-color);
    font-size: 15px;
}

p2{
    font-family: var(--default-font-family);
    color: var(--nav-primary-color);
    font-size: 15px;
}

#social-media{
    text-align: center;
    
}

#media{
    padding-right: 10px;
}

/*iphone X */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) { 
    p{
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
    }

    .img-fluid{
        width: 10%;
    }

    .img-fluid-heading{
        width: 35%;
    }

    .img-fluid-logo{
        width: 50%;
    }

    .landing{
        height: fit-content;
        position: absolute;
        bottom: 0px;
        padding-top: 15px;
    }
}

/*iphone 678 plus*/

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
    p{
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
    }

    h1{
        height: 50px;
    }

    h2{
        margin-bottom: 2vw;
    }

    .img-fluid{
        width: 10%;
    }

    .img-fluid-heading{
        width: 30%;
        position: relative;
    }

    .img-fluid-logo{
        width: 50%;
        margin-bottom: -12vw;
    }

    .landing{
        height: fit-content;
        position: absolute; 
        bottom: 0px;
    }
}

/*ipad*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    p{
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 25px;
        
    }

    .img-fluid{
        width: 7%;
    }

    .img-fluid-heading{
        width: 25%;
        margin-top: 20px;
    }

    .img-fluid-logo{
        width: 35%;
        margin-bottom: 0vw;
    }

    .landing{
        height: fit-content;
        position: absolute; 
        bottom: 0px;
    }

}

/*iphone 678 */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) { 
    p{
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
    }

    .img-fluid{
        width: 10%;
    }

    .img-fluid-heading{
        width: 35%;
    }

    .img-fluid-logo{
        width: 50%;
    }

    .landing{
        height: fit-content;
        position: absolute; 
        bottom: -100px;
        top: -10px;
    }
}



@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
    p{
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        
    }

    h1{
        height: 50px;
    }
    h2{
        margin-bottom: 2vw;
    }

    .img-fluid{
        width: 10%;
    }

    .img-fluid-heading{
        width: 30%;
        position: relative;
    }

    .img-fluid-logo{
        width: 50%;
        margin-bottom: -12vw;
    }

    .landing{
        height: fit-content;
        position: absolute; 
        bottom: 0px;
    }
}

/*ipad*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    p{
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 25px;
        
    }

    .img-fluid{
        width: 7%;
    }

    .img-fluid-heading{
        width: 25%;
        margin-top: 20px;
    }

    .img-fluid-logo{
        width: 35%;
        margin-bottom: 0vw;
    }

    .landing{
        height: fit-content;
        position: absolute; 
        bottom: 0px;
    }

}

/*ipad pro*/

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) {
    p{
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 33px;
        
    }

    h1{
        height: 17vw;
    }

    .img-fluid{
        width: 8%;

    }

    .img-fluid-heading{
        width: 25%;
    }

    .img-fluid-logo{
        width: 35%;
    }

    .landing{
        height: 100vh;
        padding-top: 45px;
        position: fixed;
     }

}




